# mysqlの設定
# /etc/mysql/mysql.conf.d/mysqld.cnf に記載する。
# デフォルトだと大体エラーログを保存している。
# TODO: ログを終了間際では出さないようする(特にslow_query_logとlong_query_log)

[mysqld]
user		= mysql
# pid-file	= /var/run/mysqld/mysqld.pid
# socket	= /var/run/mysqld/mysqld.sock
# port		= 3306
# datadir	= /var/lib/mysql


# --------------------------------基本設定--------------------------------
# 接続を受け付けるアドレス(複数台利用する場合は必須の設定)
bind-address = 127.0.0.1
# MySQL Xプロトコルの接続を受け付けるアドレス。
mysqlx-bind-address	= 127.0.0.1
# -----------------------------------------------------------------------

# ------------------あまり褒められた設定ではない基本設定------------------
# クライアントが接続する際に名前解決を無効にする。バグる可能性があるのでコメントアウトしている。
# skip-name-resolve
# 少しでも速くするためにbinlogを止める。もし、消す場合は代わりにmax_binlog_size = 100Mを設定する。
disable-log-bin
# -----------------------------------------------------------------------

#
# * Fine Tuning
#
key_buffer_size		= 16M
# max_allowed_packet	= 64M
# thread_stack		= 256K

# thread_cache_size       = -1

# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover-options  = BACKUP

# max_connections        = 151

# table_open_cache       = 4000

#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
#
# Log all queries
# Be aware that this log type is a performance killer.
# general_log_file        = /var/log/mysql/query.log
# general_log             = 1
#
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log
#
# Here you can see queries with especially long duration
# slow_query_log		= 1
# slow_query_log_file	= /var/log/mysql/mysql-slow.log
# long_query_time = 2
# log-queries-not-using-indexes
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
# server-id		= 1
# log_bin			= /var/log/mysql/mysql-bin.log
# binlog_expire_logs_seconds	= 2592000
max_binlog_size   = 100M
# binlog_do_db		= include_database_name
# binlog_ignore_db	= include_database_name
